<h1>Card Authorization Results</h1>

<h2>Request:</h2>
<p>
  <%= @request %>
</p>

<h2>Response: (<%= @response_status %>)</h2>
<p>
  <%= @response %>
</p>
<p>
  The response information above would normally <i>not</i> be published
  directly to a Web page, but instead saved in a receipt model object, and the
  browser redirected to a page intended to display the model object formatted
  as a receipt.  It is displayed here only for demonstration purposes.
</p>
