<%= link_to 'PayTrace Client-Side Encryption API Example', new_encrypted_sales_path %>
<br/>
<br/>
<br/>

Keyed Sale Entry Example
<br/>
<br/>

<form accept-charset="UTF-8" action="/sales" method="post">
  <div style="display:none">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="Dwu9MIDkU3VgXnmDm03ai/uItsFYU6h4qpIb9y8yVZw=" />
  </div>

  <div>
    <label for="sale_amount">Amount</label>
    <input type="text" id="sale_amount" name="sale[amount]" value="1.00" />
    <label for="sale_billing_address_zip">Zip Code</label>
    <input type="text" id="sale_billing_address_zip" name="sale[billing_address][zip]" value="12345" />
  </div>
  <div>
    <label for="sale_credit_card_number">Credit Card Number</label>
    <input type="text" id="sale_credit_card_number" name="sale[credit_card][number]" type="text" value="5454545454545454" />
    <label for="sale_credit_card_expiration_month">Credit Card Expiration month</label>
    <input id="sale_credit_card_expiration_month" name="sale[credit_card][expiration_month]" type="text" value="12" />
    <label for="sale_credit_card_expiration_year">Credit Card Expiration year</label>
    <input id="sale_credit_card_expiration_year" name="sale[credit_card][expiration_year]" type="text" value="2020" />
  </div>
  <input name="commit" type="submit" value="Submit" />
</form>