<%= link_to 'PayTrace API Example', new_sale_path %>
<br/>
<br/>
<br/>

Keyed Sale Entry Example - Client-Side Encryption
<br/>
<br/>

<%= form_tag(sales_path) do %>
  <div>
    <label for="sale_amount">Amount</label>
    <input type="text" id="sale_amount" name="sale[amount]" value="1.00" />
    <label for="sale_billing_address_zip">Zip Code</label>
    <input type="text" id="sale_billing_address_zip" name="sale[billing_address][zip]" value="12345" />
  </div>
  <div>
    <label for="sale_credit_card_number">Credit Card Number</label>
    <input type="text" id="sale_credit_card_number" data-name="sale[credit_card][encrypted:number]" class="pt-encrypt" value="4111111111111111" />
    <label for="sale_credit_card_expiration_month">Credit Card Expiration month</label>
    <input id="sale_credit_card_expiration_month" name="sale[credit_card][expiration_month]" type="text" value="12" />
    <label for="sale_credit_card_expiration_year">Credit Card Expiration year</label>
    <input id="sale_credit_card_expiration_year" name="sale[credit_card][expiration_year]" type="text" value="2020" />
    <label for="sale_csc">CSC</label>
    <input id="sale_csc" data-name="sale[encrypted:csc]" class="pt-encrypt" type="text" value="999" />
  </div>
  <input name="commit" type="submit" value="Submit" />
<% end %>

<script type="text/javascript">
window['PayTrace.publicKey'] = '-----BEGIN PUBLIC KEY-----\
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArh4rCshAYy9LJgtHjz81\
tuM/7y7S5UU9xackRVvEWBt1vdGZfJEn+PPgvqsMjimIsteK5kq6SPmQfC0Dc7Tu\
OGKQfZZqoyjrUEkRo8vCqbvYrX0s14ho9rDH6hg1j0/Vk979BUoPMztdiNps1M5g\
t6I/49d+R2jH43PppqDUBRZF4Hli9XUkI3/CTdmhNydSXNijnkC5yg6nAcdBVUMe\
rpaOTCvpkqLQLQVcvL4FPi7iVfDJBvmqPpl9a9Amdpq8issPVzGJfvjwYf15Q0Ju\
xeWHXnSbioiTbnnjnOS3BT3WWpH5ZX+5OAeByceq4Io2uRVV8RFZs5CfqafnB0uU\
zQIDAQAB\
-----END PUBLIC KEY-----';
</script>
<script src="https://api.paytrace.com/assets/e2ee/paytrace-e2ee.js"></script>