<%= link_to 'PayTrace API Example', new_sale_path %>
<br/>
<br/>
<br/>

Keyed Sale Entry Example - Client-Side Encryption
<br/>
<br/>

<%= form_tag(sales_path, id: 'theForm') do %>
  <div>
    <label for="sale_amount">Amount</label>
    <input type="text" id="sale_amount" name="sale[amount]" value="1.00" />
    <label for="sale_billing_address_zip">Zip Code</label>
    <input type="text" id="sale_billing_address_zip" name="sale[billing_address][zip]" value="12345" />
  </div>
  <div>
    <label for="sale_credit_card_number">Credit Card Number</label>
    <input type="text" id="sale_credit_card_encrypted_number" name="sale[credit_card][encrypted_number]" class="pt-encrypt" value="4111111111111111" />
    <label for="sale_credit_card_expiration_month">Credit Card Expiration month</label>
    <input id="sale_credit_card_expiration_month" name="sale[credit_card][expiration_month]" type="text" value="12" />
    <label for="sale_credit_card_expiration_year">Credit Card Expiration year</label>
    <input id="sale_credit_card_expiration_year" name="sale[credit_card][expiration_year]" type="text" value="2020" />
    <label for="sale_csc">CSC</label>
    <input id="sale_encrypted_csc" name="sale[encrypted_csc]" class="pt-encrypt" type="text" value="999" />
  </div>
  <input name="commit" type="submit" value="Submit" id="submitButton" style="display:none;" />
<% end %>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://api.paytrace.com/assets/e2ee/paytrace-e2ee.js"></script>

<script type="text/javascript">
  $('#submitButton').hide();
  // this hooks form submission.
  $(document).ready(function() {
    paytrace.hookFormSubmit('#theForm'); // do this first, or wrap in a try/catch to ensure the form is never un-hooked

    paytrace.setKey('-----BEGIN PUBLIC KEY-----' +
      'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqr0q5WgXwZH+ZA9Cry2d' +
      'Gh82ZxMa5jRH7DZznqX+ByZxGQkAjT43Cs56WW0nudiIMYSj6VADz+1gSoMWDYE0' +
      '9kSgBTVh0tiqDixjhlkZA5VBsrfhczQZV0LWQNTgDfQiebsjydgwVadjUifw3Afe' +
      'am+R+AK4t8umBhRplpGR04sCZmDTTFPvSb1l3TFn7j+YLSp9ekmIDApEJpj52WDv' +
      'j295FeHgm0SyS9X6pCsWMt/eHCUhjGm9NkDq6B/HMbIeIdURv/aR1ejW0HbrOFB1' +
      '5aT8axPIpQwXHCYnt+L4Zk8yjyV53/iaF30mdiE9yJG1UA0UsRcXwJ30lCim4GSN' +
      'mwIDAQAB' +
      '-----END PUBLIC KEY----- ');
  });
  $('#submitButton').show(); // do this first, or wrap in a try/catch to ensure the form is never un-hooked
</script>